<section class="footer flex a-i-flex-start j-c-space-around">
    <div class="footer-buy flex flex-d-column j-c-center">
      <span class="footer-haveTime block">Успей купить!</span>
      <span class="footer-promotions block">Подпишись и успей словить все акции</span>
    </div>
    <div class="footer-container flex a-i-flex-start">
    <div class="footer-emailsWrapper flex flex-d-column">
      <input class="footer-email block" type="email" placeholder="Email" id="emailForNews">
      <input class="footer-check" type="checkbox" id="news">
      <label class="footer-newsSubscribe" for="news">Подписаться на новости</label>
      <div class="footer-tips" id="tips"></div>
      <span id="accept" style="display: none">✔</span>
    </div>
    <button class="footer-subscribe" id="subscribe" onclick="subscribeToNews()">Подписаться</button>
    </div>
</section>